#background{
    background-image: url(../images/bar5.jpg);
    background-attachment: fixed;
    background-position: 100%;
    background-size: cover;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

#city-data-heading {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    text-align: center;
}